<div class="professional-profile">
  <ng-container *ngIf="fetchedInfo$ | async as info">
    <section class="section-professional-info">
      <professional-info
        [professional]="info.professional"
        [appointmentInfo]="info.appointmentInfo">
      </professional-info>
    </section>

    <section class="section-professional-availabilities">
      <professional-availabilities
        [professionalId]="professionalId">
      </professional-availabilities>
    </section>
  </ng-container>
</div>

